<!DOCTYPE html>
<html lang='en'>
    {% load static %}
    <head>
        <meta charset='utf-8'>
        <title>Mixed Media {% block title %}{% endblock %}</title>
        <link rel='stylesheet' href="{% static 'style.css' %}">
    </head>

    <body>
        <h1>
            <a href="{% url 'home' %}">Mixed Media</a>
        </h1>

        {% block collections %}{% endblock %}

        <!-- Newsfeed -->
        <div class='newsfeed'>
        {% block newsfeed %}{% endblock %}
        </div>

        <!-- Libraries -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/masonry.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.min.js' %}"></script>
        <script src="{% static 'js/newsfeed.js' %}"></script>
    </body>
</html>
