{% extends 'base.html' %}

{% block collections %}
{% if collections %}
    <div class='collections'>
        <a class='collection' id='all' href='#'>all</a>
        {% for collection in collections %}
        <a class='collection' id='{{ collection.title_slug }}' href='#{{ collection.title_slug }}'>#{{ collection.title_slug }}</a>
        {% endfor %}
    </div>
    <br>
{% endif %}
{% endblock %}

{% block newsfeed %}
    <div class='grid'>
        {% for post in posts %}
        <div class='post grid-item' id='{{ post.collection.title_slug }}'>
            <div class='caption'>{{ post.caption }}</div>
            {% if post.api == 'SC' %} <!-- SoundCloud -->
            <iframe class='soundcloud' type='text/html' frameborder='0' src='{{ post.source }}'></iframe>
            {% elif post.api == 'YT' %} <!-- YouTube -->
            <iframe class='youtube' type='text/html' frameborder='0' src='{{ post.source }}'></iframe>
            {% elif post.api == 'FL' %} <!-- Flickr -->
            <img class='flickr' src='{{ post.source }}' alt='{{ post.caption }}' width='250px'/>
            {% endif %}
            {% if not collections %}
            <a class='collection-link' href="{% url 'profile' post.hipster.username %}#{{ post.collection.title_slug }}">#{{ post.collection.title_slug }}</a>
            <a class='profile-link' href="{% url 'profile' post.hipster.username %}">@{{ post.hipster.username }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}